/*
 * Globals
 */
@font-face {
    font-family: overwatch;
    src: url(../fonts/big_noodle_titling_oblique.ttf);
}

@font-face {
    font-family: overwatch2;
    src: url(../fonts/big_noodle_titling.ttf);
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/*
 * Override Bootstrap's default container.
 */

/*statistika herode kohta*/
html, body {
    font-family: "fira-sans-2", sans-serif;
    color: #333;
}

/*profiili stats css*/
#rig {
    max-width: 900px;
    margin: 0 auto; /*center aligned*/
    padding: 0;
    font-size: 0; /* Remember to change it back to normal font size if have captions */
    list-style: none;
}

#rig li {
    display: inline-block;
    *display: inline; /*for IE6 - IE7*/
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The wrapper for each item */
.rig-cell {
    margin: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    border: none;
    color: #555;
    background-color: #efefef;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.rig-cell h3 {
    font-size: 30px;
    font-family: overwatch;
    font-weight: normal;
    color: #183f78;
}

/* If have the image layer */
.rig-img {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Make its pseudo :after to be relative to it. */
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: white;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0); /*For older IE*/
    transition: all 0.3s;
}

#rig li:hover .rig-overlay {
    opacity: 0.5;
}

@media (max-width: 9000px) {
    #rig li {
        width: 33.3%;
    }
}

@media (max-width: 800px) {
    #rig li {
        width: 33.33%;
    }
}

@media (max-width: 500px) {
    #rig li {
        width: 50%;
    }
}

@media (max-width: 350px) {
    #rig li {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1080px !important;
    }

    .container2 {
        width: 100%;
    }
}

.col-sm-offset-1 {
    padding-top: 20px;
}

/*
 * Masthead for nav
 */

#navimg {
    transition: transform .8s ease-in-out;
}

#navimg:hover {
    transform: rotate(360deg);
}

#navfb {
    transition: 500ms filter ease;
    height: 55px;
    float: right;
    filter: opacity(50%);
}

#navfb:hover {
    transition: 500ms filter ease;
    filter: opacity(100%);
}

.blog-masthead {
    /* top: 0; */
    position: fixed;
    z-index: 3;
    display: block;
    background: #1f1f1f;
    width: 100%;
    /* margin-top: 40px; */
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* border-bottom: 4px solid #1b9bff; */
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.page-header-text {
    margin-top: 20px;
    font-family: overwatch2;
    font-size: 46px;
    text-transform: uppercase;
    color: #1f1f1f;
    border-radius: 4px;
}

.hero-page-header-text {
    margin-left: 20px;
    margin-top: 25px;
    font-family: overwatch2;
    font-size: 46px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
}

.hero-header-text {
    text-align: center;
    font-family: overwatch;
    font-size: 30px;
    text-transform: uppercase;
}

.heropic {
    display: block;
    width: 12%;
    height: 100px;
    float: left;
    position: relative;
}

.heropic img {
    border-radius: 6px;
}

.pbar {
    background-color: #f3f3f3;
    border: 0;
    height: 8px;
    border-radius: 9px;
}

.pbar::-webkit-progress-bar {
    /* style rules */
    background-color: #f3f3f3;
    border: 0;
    height: 8px;
    border-radius: 9px;
}

.pbar::-webkit-progress-value {
    /* style rules */
    background-color: rgb(0, 176, 255);
    border: 0;
    height: 8px;
    border-radius: 9px;
}

.pbar::-moz-progress-bar {
    /* style rules */
    background-color: rgb(0, 176, 255);
    border: 0;
    height: 8px;
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.avgbar {
    display:block;
    background-color: white;
    border: 0;
    height: 8px;
    border-radius: 9px;
}

.avgbar::-webkit-progress-bar {
    display:block;
    background-color: white;
    border: 0;
    height: 8px;
    border-radius: 9px;
}

.avgbar::-webkit-progress-value {
    display:block;
    background-color: rgb(0, 176, 255);
    border: 0;
    height: 8px;
    border-radius: 9px;
}

.avgbar::-moz-progress-bar {
    display:block;
    background-color: rgb(0, 176, 255);
    border: 0;
    height: 8px;
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.row1 {
    width: 88%;
    height: 50px;
    color: white;
    position: relative;
    float: right;
}

.mainstat {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 10px;
    width: 23%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.herostats {
    display: block;
    background-color: #2d2d2d;
    border-radius: 6px;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#filter {
    margin-top: 10px;
}

#uuenda {
    margin-top: 85px;
    margin-left: 140px;
    position: absolute;
    display: block;
    background: #0090e6;
    box-sizing: content-box;
    border: 1px solid #444;
    border-radius: 3px;
    color: #fff;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    text-shadow: 0 -1px 0 #000;
    width: auto;
    transition: background-color 0.3s ease;
}

#uuenda:hover,
#uuenda:focus {
    background-color: #36b0ed;
    outline: none;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.9)
}

#uuenda:active {
    background: #0090e6;
}

#season {
    float: right;
    display: inline-block;
    color: #ffffff;
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    border: none;
    /* font-family: arial; */
    background-color: rgba(128, 128, 128, 0);
}

#season:focus {
    outline: none;
}

.season {
    background-color: grey;
}

#hero_playtime {
    margin-top: -10px;
    background: linear-gradient(#eaeaea, #ffffff);
    color: #1f1f1f;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#uuenda-loading {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid rgba(0, 0, 0, 0); /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-bottom: -5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#avatars {
    display: inline-block;
    width: 6%;
    float: left;
    position: relative;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#percentage {
    display: inline-block;
    width: 70%;
    height: 480px;
    /* background-color: #f3f3f3; */
    padding-top: -100px;
    /* border-bottom-right-radius: 6px; */
    border-top-right-radius: 6px;
}

.avs {
    padding-top: 3px;
    width: 50px;
    border-radius: 4px;
}

.heronames {
    padding-top: 15px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    text-transform: capitalize;
}

.heroplaytime {
    padding-top: 15px;
    font-size: 14px;
    padding-left: 5px;
    text-transform: capitalize;
}

.bar {
    padding-top: 4px;
    border: 0;
    height: 20px;
    width: 100%;
    border-radius: 15px;
}

.bar::-webkit-progress-bar {
    /* style rules */
    background-color: #e8e8e8;
    border: 0;
    height: 20px;
    width: 100%;
    border-radius: 15px;

}

.bar::-webkit-progress-value {
    /* style rules */
    background-color: rgb(0, 176, 255);
    border: 0;
    height: 20px;
    border-radius: 15px;
}

.bar::-moz-progress-bar {
    /* style rules */
    background-color: rgb(0, 176, 255);
    border: 0;
    height: 20px;
    border-radius: 15px;
}

#myChart {
    width: 90%;
    float: right;
}

.AdminBox {
    display: block;
    width: 100%;
    height: auto;
}

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../imgs/banneruus5.jpg");
    height: 400px;
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: white;
    font-family: Futura, century gothic, arial, sans-serif;
    text-transform: uppercase;
}

#sidebar-top3-image {
    cursor: pointer;
    height: 56px;
    width: 330px;
    border-radius: 6px;
    background-image: url(../imgs/eestitop3.jpg);
    transition: background-image 0.2s ease-in-out;
}

#sidebar-top3-image:hover {
    background-image: url(../imgs/eestitop3hover.jpg);
}

#sidebar-reddit {
    margin-top: 15px;
    cursor: pointer;
    height: 56px;
    width: 330px;
    border-radius: 6px;
    background-image: url(../imgs/reddit.jpg);
    transition: background-image 0.2s ease-in-out;
}

#sidebar-reddit:hover {
    background-image: url(../imgs/reddithover.jpg);
}

#sidebar-heroes {
    cursor: pointer;
    height: 56px;
    width: 330px;
    border-radius: 6px;
    background-image: url(../imgs/heroes.jpg);
    transition: background-image 0.2s ease-in-out;
}

#sidebar-heroes:hover {
    background-image: url(../imgs/heroeshover.jpg);
}

#sidebar-discord {
    margin-top: 15px;
    cursor: pointer;
    height: 56px;
    width: 330px;
    border-radius: 6px;
    background-image: url(../imgs/discord.jpg);
    transition: background-image 0.2s ease-in-out;
}

#sidebar-discord:hover {
    background-image: url(../imgs/discordhover.jpg);
}

.logo {
    position: absolute;
    background-image: url(../imgs/sininelogo.png);
    margin-top: 100px;
    transition: background-image 0.5s ease-in-out;
}

#peidetud {
    visibility: hidden;
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {

    #message2 {
        display: none !important;
    }

    td::before {
        margin-top:-7px;
        margin-left:-3px;
    }

    #div1 {
        display: none !important;
    }

    #userhead .pilt {
        display: none;
    }

    .avgbar {
        display:none;
    }

    .logo {
        visibility: hidden;
    }

    #peidetud {
        visibility: visible;
        height: auto;
        width: 100%;
    }

    .blog-header {
        height: 320px;
    }

    .post-text-container {
        position: inherit !important;
        background-color: #1f1f1f !important;
        border-radius: 6px;
    }

    .post-text-container:hover {
        background-color: #1f1f1f !important;
    }

    #sidebar-reddit,
    #sidebar-heroes,
    #sidebar-top3-image {
        margin-left: auto;
        margin-right: auto;
    }

    .herostats {
        display: none;
    }

}

.lisa {
    text-align: center;
    padding-top: 20px;
}

.nupplisa {
    color: #fff;
    width: 130px;
    height: 26px;
    border-radius: 0px 4px 4px 0px;
    background: linear-gradient(#ffbd00, #ff9700);
    border: solid 1px #ffbd00;
    font-family: arial;
}

.nupplisa:hover {
    background: linear-gradient(#ffe800, #ffbd00);
}

#inputform {
    padding-top: 30px;
    display: block;
    height: 150px;
    background: linear-gradient(#353535, #1f1f1f);
    margin-bottom: -20px;
    border-radius: 6px;

}

#userhead {
    border-radius: 6px;
    width: 100%;
    display: block;
    margin-top: 10px;
    height: 128px;
    background-image: url("../imgs/profilebanner.jpg");
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
}

#hero_header {
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    display: block;
    margin-top: 10px;
    height: 100px;
    background-color: #252525;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    color: white;
    transition: background-color 0.3s ease;
}

#hero_header:hover {
    background-color: #323232;
}

#userhead img {
    float: left;
    border-radius: 6px 0 0 6px;
    max-width: 128px;
    max-height: 128px;
}

#last_updated {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.49);
    margin-top: 85px;
    position: absolute;
    margin-left: -135px;
}

#userhead .pilt {
    max-height: 128px;
    float: right;
}

#userhead p {
    margin-top: 30px;
    float: left;
    font-size: 40px;
    margin-left: 10px;
    color: white;
    font-family: overwatch;
    font-weight: normal;
}

.col-md-6 p {
    font-size: 16px;
}

#first {
    width: 33%;
    display: inline-block;
}

.compstats {
    padding-left: 10px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: normal;
    color: #1f1f1f;
}

#second {
    width: 33%;
    display: inline-block;
}

#third {
    width: 33%;
    display: inline-block;
}

#userhead p:nth-child(3) {
    margin-top: 50px;
    margin-left: 5px;
    font-size: 20px;
    color: #b0b0b0;
    font-weight: normal;
}

.overall_stats {
    background: linear-gradient(#eaeaea, #ffffff);
    color: #1f1f1f;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.overall_stats td {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

.overall_stats th {
    font-family: overwatch;
    font-size: 26px;
    font-weight: normal;
}

.overall_stats th {
    border: none;
    padding-left: 5px;
    padding-top: 10px;
}

#userhead #div1 {
    color: white;
    padding-top: 40px;
    font-family: "Open Sans", serif;
    text-align: center;
    height: 128px;
    width: 128px;
    float: right;
    display: inline-block;

}

#userhead a {
    color: white
}

#userhead a:hover {
    color: white;
    text-decoration: none;
}

#inputform p {
    color: #cecece;
    font-size: 10px;
    font-family: "Open Sans", serif;
}

#hero_list_container {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

ul.herolist {
    text-align: center;
}

ul.herolist li {
    display: inline-block;
    padding: 6px;
    text-align: center;
}

.listt {
    display: inline-block;
}

#defense {
    display: inline-block;

}

.avatar2 {
    max-width: 100px;
    max-height: 100px;
    border-radius: 6px;
    filter: opacity(50%);
    -webkit-transition: filter 0.3s ease-in-out;
    -moz-transition: filter 0.3s ease-in-out;
    -o-transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
}

.avatar2:hover {
    filter: opacity(100%);
}

.reaper {
    margin-top: 38px;
    margin-left: 900px;
}

.avatar {
    max-width: 60px;
    max-height: 60px;
}

.rank tr {
    width: 100%;
    background-color: #fbfbfb;
}

.tabl {
    width: 100%;
}

.rank tr:hover {
    background-color: #f1f1f1;
}

#cf {
    position: relative;
    height: 281px;
    width: 450px;
    margin-top: 38px;
    margin-left: 50%;

}

.top {
    opacity: 0;
}

#cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#cf img.top:hover {
    opacity: 1;
    cursor: pointer;
}

.sidebox2 {
    margin-top: 10px;
}

.sidebox3 {
    margin-top: 10px;
}

.btn-front-page {
    background-color: #0090e6;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    width: 100%;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

#top3size {
    height: 30px;
    width: 30px;
}

#top3 table {
    width: 100%;
    font-family: 'Open Sans', serif
}

#top3 table th {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    border: 0px;
    padding: 0px;
    text-align: center;

}

.btn:hover {
    transition: background-color 0.3s ease;
    background-color: #00b0e6;
    text-decoration: none;
    color: white;
}

.col-md-4 img {
    width: 100%;
    height: auto !important;
}

.logo:hover {
    background-image: url("../imgs/sininelogohover.png");
    transition: background-image 0.5s ease-in-out;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;

}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    padding-top: 10px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.post-info {
    position: absolute;
    background-color: #1f1f1f;
    border-radius: 6px 6px 0 0;
    top: 0;
    left: 0;
    right: 0;
}

.post-info-text {
    color: #929292;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

.blog-post-title-main-page {
    color: white !important;
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, .42);
    font-size: 2em;
    font-weight: 500;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 5px;
    font-family: overwatch2;
}

.read-more p {
    padding-left: 28px;
    font-size: 12px;
    color: #d8d8d8;
    /* float: right; */
    padding-right: 20px;
}

.post-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 6px;
    position: relative;
    transition: background-color 0.5s ease;
}

.dark-overlay:hover {
    background-color: rgba(0, 0, 0, 0);
}

.dark-overlay img {
    position: relative;
    z-index: -1;
}

.rounded {
    font-weight: bold;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    border: 0px;
    padding: 0px;
    text-align: center;
}

/*
 * Footer
 */

.blog-footer {
    padding: 45px 0;
    color: #575757;
    text-align: center;
    background-color: #1f1f1f;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

/*
 * Navbar
 */

ul.topnav {

}

ul.topnav li {
    position: relative;
    display: inline-block;
    font-weight: 500;
    height: 55px;
    padding-top: 18px;
    transition: all 500ms ease;
}

ul.topnav li:hover {
    background-color: rgba(128, 128, 128, 0.2);
    transition: background-color 0.5s ease;
}

ul.topnav li a {
    color: #e4e4e4;
    font-size: 0.875em;
    font-weight: 500;
    position: relative;
    display: inline-block;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 500ms ease;
    margin-top: -20px;
    padding: 10px;
}

ul.topnav li a:hover {
    color: white;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.9);
    transition: all 500ms ease;
}

ul.topnav li.icon {
    display: none;
    margin-right: -55px;
}

@media screen and (max-width: 768px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    #wpadminbar {
        position:fixed;
    }
}

@media screen and (max-width: 768px) {
    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 0px;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav li a {
        margin-top: -0px;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    ul.topnav li:hover {
        background-color: transparent;
    }

    #navfb {
        visibility: hidden;
    }

    ul.topnav li {
        padding-top: 0px;
    }
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px !important;
}

.blog-sidebar a {
    font-family: arial;
}

.blog-footer p {
    font-family: arial;
}

p {
    font-family: Roboto, sans-serif;
}

/*FRONT PAGE SEARCH*/

@import url(http://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop input {
    background: #222;
    background: linear-gradient(#fff, #e6e6e6);
    border: 1px solid #fff;
    border-radius: 3px;
    color: #888;

    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    width: 200px;
    transform: skew(-0.2rad);
}

.ie .webdesigntuts-workshop input {
    line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
    color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
    color: #888;
}

.webdesigntuts-workshop input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: linear-gradient(#fff, #e6e6e6);
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(255, 173, 38, 0.2), inset 0 0 5px rgba(255, 162, 50, 0.1), 0 2px 0 #000;
    color: black;
    outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
    color: grey;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
    color: grey;
}

.webdesigntuts-workshop input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

p.viga {
    margin-top: 100px;
    font-size: 30px;
    color: red;
    text-align: center;
}

.webdesigntuts-workshop .button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: content-box;
    border: 1px solid #444;
    border-radius: 3px;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 39px;
    line-height: 39px;
    margin-top: 20px;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
    margin-left: 3px;
    transform: skew(-0.2rad);
}

.webdesigntuts-workshop .button:hover,
.webdesigntuts-workshop .button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #ffac41;
    outline: none;
    border-radius: 3px;
}

.webdesigntuts-workshop .button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

.hr {
    max-width: 190rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 5px solid #183f78;
    border-left: 0;
    margin: 2rem auto;
    clear: both;
}

hr {
    box-sizing: content-box;
    height: 0;
}

#profileline #esimene {
    padding-left: 10px;
    margin-top: 20px;
    font-family: overwatch;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /* font-weight: bold; */
    /* margin-bottom: -20px; */
    background: linear-gradient(#353535, #1f1f1f);
    border-radius: 4px;
}

#teine {
    padding-left: 10px;
    margin-top: 20px;
    font-family: overwatch;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /* font-weight: bold; */
    /* margin-bottom: -20px; */
    background: linear-gradient(#353535, #1f1f1f);
    border-radius: 6px;
}

#cards {
    display: inline-block;
    width: 100%;
    height: 500px;
}

.col-md-4 img {
    border-radius: 6px;
}

.card {
    display: inline-block;
    height: 200px;
    width: 25%;
    background-color: #183f78;
    text-align: center;
    color: white;
    float: left;
    font-size: 40px;
    font-family: "Open Sans", serif
}

.card2 {
    display: inline-block;
    height: 200px;
    width: 25%;
    margin: 0 auto;
    background-color: #183f78;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Open Sans", serif
}

.card3 {
    display: inline-block;
    float: right;
    height: 200px;
    text-align: center;
    width: 25%;
    background-color: #183f78;
    color: white;
    font-size: 40px;
    font-family: "Open Sans", serif
}

/*ajaxload*/
#loader {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 50px;
}

@keyframes glow {
    0% {
        border-color: #997a2d;
        box-shadow: 0 0 5px rgba(255, 157, 12, 0.2), inset 0 0 5px rgba(255, 136, 29, 0.1), 0 2px 0 #000;
    }
    100% {
        border-color: #ffa139;
        box-shadow: 0 0 20px rgba(255, 173, 0, 0.6), inset 0 0 10px rgba(255, 134, 33, 0.4), 0 2px 0 #000;
    }
}